.button {
	outline: none;
    border: 0;
    background: none;
    margin: 20px;
    padding: 0;
    float: left;
    cursor: pointer;
	&.active {
		em{
			background:rgb(0, 188, 212);
		}
		span {
			font-weight: bold;
		}
	}
    em {
    	font-style: normal;
	    border-radius: 70px;
	    background: rgb(158, 158, 158);
	    width: 24px;
	    height: 24px;
	    display: inline-block;
	    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	    font-size: 14px;
	    color: #fff;
	    line-height: 24px;
	    margin: 0 10px 0 0;
    }
    span {
	    font-size: 16px;
	    line-height: 24px;
    }
}