.field{
	label {
		display: inline-block;
		margin-bottom: .5em;
	}
	input{
		display: block;
		border: 2px solid #ccc;
		height: 20px;
		padding: 4px 6px;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 20px;
		border-radius: 4px;
		vertical-align: middle;
		color: #555;
	}
	input[type="checkbox"] {
		display: inline-block;
		margin: 0 0 0 5px;
	}
	&.error{
		input{
			border-color: #c03100;
		}
	}
	&.success{
		input{
			border-color: #165619;
		}
	}
}