.button{
	text-transform: uppercase;
	    border: 10px;
	    box-sizing: border-box;
	    display: inline-block;
	    font-family: Roboto, sans-serif;
	    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	    cursor: pointer;
	    text-decoration: none;
	    margin: 0px;
	    padding: 0px;
	    outline: none;
	    font-size: inherit;
	    font-weight: inherit;
	    transform: translate3d(0px, 0px, 0px);
	    position: relative;
	    height: 36px;
	    line-height: 36px;
	    min-width: 88px;
	    border-radius: 2px;
	    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	    text-align: center;
	    margin: 12px;
	    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
	    &.nextBtn{
			color: rgba(255, 255, 255, 1);
			background-color: rgb(0, 188, 212);
			margin-right: 12px;
	    }
	    &.prevBtn{
		    box-shadow: none;
		    background-color: rgba(0, 0, 0, 0);
	    }
}